form {
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 40px;
  width: 500px;
}

input {
  padding: 5px 20px;
  width: 80%;
  line-height: 16px;
  margin: 10px 0;
}
.center-text {
  text-align: center;
}
.cityResults {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.imageResults {
  justify-content: center;
  // object-fit: cover;
  width: 50%;
  height: 50%;
}

.imageBox {
  width: 300px;
}
